extends layout

block content
  // If user is not logged in, show login and registration links
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register

  // If user is logged in, display user information and relevant actions
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/desserts") Take me to desserts
    br
    a(href="/logout") Logout
